body{
    background-color:#FFF3D9;
    margin:auto;
}
svg {
    position: relative;
    margin-bottom: 10px
}

#border {
    padding:50px;
    margin:auto;
    text-align:center;
}

p, h1 {
    font-family:monospace;
    text-align:center;
}

.regular-node{
    stroke: #5E376D;
}
